#title_google
{
    font-size: 48pt;
}

.title_google_ing_adv
{
    font-size: 14pt;
    margin: -40px -100px 10px 0px;

}

.search_variant
{
    text-align: right;
    margin: 5px 5px 5px 0px;
}

.search_center
{
    margin-top: 20%;
    text-align: center;    
}

.button_search
{
    text-align: center;
    margin: 20pt 10px 10px 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    border: 1px;
    height: 44px;
    font-size: 14pt;    
}

.button_search:hover
{
    border: 1px solid #e4e4e4;        
}

.search_form_field
{
    /*text-align: center;*/
    padding-left: 24px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    font-size: 14pt;
    font-family: arial,sans-serif;
    width: 50%;
    height: 44px;
}

/* ################ advanced search ################ */

label
{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.adv_field_search
{
    clear: both;
    width: 100%;
    padding: 5px 5px 5px 5px;
}

.align_adv_fieldlabel
{
    float: left;
    width: 18%;
    min-width: 167px;
    height: 30px;
    font-family: arial,sans-serif;
    font-size: 11pt;
    text-align: left;
}

.align_adv_field_input
{
    float: left;
    width: 55%;
    min-width: 167px;
    height: 30px;
    font-family: arial,sans-serif;    
}


.align_adv_field_help
{
    float: left;
    width: 26%;
    min-width: 167px;    
    padding-left: 3px;
}

.adv_help
{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.font_mono
{
    font-family: monospace;
}

#search_q, #search_epq, #search_oq, #search_eq
{
    width: 99%;
    height: 20pt;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid black;
}

.adv_button_search
{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    background-color: rgb(13, 125, 196);
    border: 1px solid rgb(13, 125, 196);
    height: 44px;
    font-size: 14pt;
    color: white1;
    margin-left: 70%;
}
.adv_button_search:hover
{
    border: 1px solid lightskyblue;

}
